.block {
  background-color: #1B1C1D;
  margin-bottom: -.5rem;
  margin-top: .5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  width: 25%;
}

.header-info {
  display: flex;
  width: 60%;
  font-size: .7rem;
  background-color: #0B0B0B;
  margin: .2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  >button {
    transition: background-color 0.5s ease;
    margin: 0.5rem;
    color: grey;
    padding: .5rem;

  }
}

.interface {
  width: 100%;
  display: none;
}

.interface.active {
  display: block;
}


.header-info .active-button {
  background-color: #1B1C1D;
  color: white;

}

.all-bets {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: .8rem;
  margin-bottom: .2rem;
  border-radius: .2rem;
  padding: 1rem;
  background-color: #1B1C1D;
  border-bottom: 2px solid #0B0B0B;
}

.mao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: .8rem;
  background-color: #0B0B0B;
  border-radius: 1rem;
  padding: 0;
  border: 1px solid grey;
  padding: .6rem;
  height: 2rem;
  transition: color 0.3s ease-in-out;

}

.mao:hover p,
.mao:hover svg {
  color: red;
}

.table-container {
  width: 100%;
  overflow: auto;
  max-height: 300px; /* Defina a altura máxima desejada para a barra de rolagem */
}

.sticky-thead {
  position: sticky;
  top: 0;
  background-color: #0B0B0B;
  z-index: 1;

  > tr th {
    color: grey;
  }
}

.tabela-info {
  width: 100%;
  background-color: #0B0B0B;
  border-spacing: 0;
  border-collapse: collapse;
  border-collapse: collapse;
  table-layout: fixed;
}

.tabela-info th,
.tabela-info td {
  padding: .2rem;
  text-align: left;
  color: rgb(192, 185, 185);
  font-size: .7rem;
}



.player-info {
  display: flex;
  align-items: center;
}

.player-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.player-info h3 {
  margin: 0;
}

.tabela-info tbody tr:hover {
  background-color: #1B1C1D;
}
