.main {
  margin: 5rem;
  background-color: #0E0E0E;
  border-radius: 1rem;
  
}

.iframeChat {
  display: flex;
  justify-content: space-between;
  height: 31rem;
}

.results-and-iframe-container {
  width: 55%; /* Ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  
}

.results{
  padding: .5rem;
}